body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
}
form {
    margin-top: 12px;
}
#block-query-list li {
    padding: 100px;
}

div
{
  border: 1px solid red;
}

block-query-list
{
  float: left;
  width: 64%;
}

section.section.transaction-history
{
  float: right;
  width: 35%;
}
