section.section.block-query
  .container
    .columns
      .box.column.is-8.is-offset-2
        h2.title Feed me a block
        .block-query.has-text-left
          ul#block-query-list
        form(name='block-query')
          .field.has-addons
            p.control
              input(type='text', class='input', value='Block History', id='history', 'disabled')
            p.control.is-expanded
              input(type='text', class='input', placeholder='Get a Block, try 400!', id='block')
            p.control
              input(type='submit', class='button is-success', value='Post')
