html
  head
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css')
    script(src='/socket.io/socket.io.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    style 
      include css/main.css
  body
    #chat-app
      #chat.has-text-centered
        section.hero.is-success
          .hero-body
            .container
              h1.title IOV Subscription Tester 
              #current-blocks-list
              h2 Try subscribing to your address!
              #subscribed
        section.section.subscribe-box
          .container
            .columns
              .box.column.is-6
                h2.title Subscribe to an Address
                form(name='subscribe-submit')
                    p.control.is-expanded
                      input(type='text', class='input', placeholder='feee6d59af591956e2b5c4a9e2eb3afe2a1b55f1', id='address')
                    p.control
                      input(type='submit', class='button is-success', value='Post')     
              .box.column.is-6
                h2.title History
                ul#transaction-history-list
            .rows
              .box.row.is-6
                h2.title Feed me a block height
                .block-query.has-text-left
                  ul#block-query
                form(name='block-query')
                  .field.has-addons
                    p.control.is-expanded
                      input(type='text', class='input', placeholder='Get a Block, try 400!', id='block')
                    p.control
                      input(type='submit', class='button is-success', value='Post')
        footer
          .container
            .content
              p
                | Powered by Weave-JS and RethinkDb
    script.
      const socket = io('/');
      var blockUpdate = document.getElementById('getBlock');


      // Gets block from db
      $('form[name="block-query"]').submit(function() {
        const block = $('#block').val();
        socket.emit('request:blockHistory', {height: block});
        $('#message').val('');
        return false;
      });

      // Response from DB if block found
      socket.on('response:blockHistory', function(message) {
        $('#block-query').html('Block Height Found: ' + JSON.stringify(message.block.header));
      });

      //Gets transaction history by address
      $('form[name="subscribe-submit"]').submit(function() {
        const address = $('#address').val();
        $('#transaction-history').prop('disabled', true);
        $('#subscribed').val(address); // Sets address as subscribed
        $('#message').val('');
        $('#transaction-history-list').empty();
        $('#subscribed').html('Subscribed: ' + address);
        socket.emit('request:TransactionHistory', {address: address});
        return false;
      });

      // Response from DB if history found
      socket.on('response:TransactionHistory', function(message) {
        $('#transaction-history-list').append($('<li>').text('Height: ' + message.height + ' Address: ' + message.parsed.sendMsg.src));
      });

      // Push updates from subscriptions
      socket.on('push:transaction', function(message) {
        $('#transaction-history-list').prepend($('<li>').text('Height: ' + message.height + ' Address: ' + message.parsed.sendMsg.src));
      });

      socket.on('push:header', function (message) {
        $('#current-blocks-list').html('Current Block Height: ' + message);
      });
